* {
  box-sizing: border-box;
}

ul {
  width: 56em;
  height: 15em;
  margin: 3em auto;
  padding: 0;
  position: relative;
  font-size: 10pt;
}

li {
  list-style: none;
  position: relative;
  float: left;
}

ul .white {
  height: 15em;
  width: 4em;
  z-index: 1;
  border: 1px solid #bbb;
  background: white;
}

.black {
  height: 8em;
  width: 2em;
  margin: 0 0 0 -1em;
  z-index: 2;
  border: 1px solid #000;
  background: black;
}

.a,
.g,
.f,
.d,
.c {
  margin: 0 0 0 -1em;
}
